.button_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.record_button {
    background-color: steelblue;
    color: white;
    display: block;
    line-height: 40px;
    text-decoration: none;
    border-radius: 25px;
    padding-top:5px;
    padding-bottom:10px;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
}

.record_button * {
    padding: 5px 5px;
}

.pulsing {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  100% {
    background-color: #FF4136;
  }
}
